@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
* {
	font-family : 'Nanum Gothic';
}
h1 {
	font-family : 'Hanna';
}

h2 {
	font-family : 'Hanna';
	font-size: 25px;
}

h3 {
	font-family : 'Hanna';
	font-size: 17px;
}

#btn0, #btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9, #btn10, #btn11, #startBtn{
  background-color: #778897;
  width: 120px;
  font-size: 15px;
  color: #fff;
  border: 1px solid #1d3c6a;
  /* border-radius: 5px; */
        /* ÁÂ           ¿ì          À§         ¾Æ·¡ */
  margin: 10px 25px 30px 0px;
  padding: 10px 10px;
}

#backBtn {
  background-color: #EAEAEA;
  width: 100px;
  height: 50px;
  font-size: 14px;
  border: 1px solid #1d3c6a;
  margin: 10px 1px 20px 0px;
  padding: 10px 10px;
}

#title, #addSurveyBtn{
	 background-color: #778897;
  width: 200px;
  height: 150px;
  font-size: 15px;
  color: #fff;
  border: 1px solid #1d3c6a;
  /* border-radius: 5px; */
        /* ÁÂ           ¿ì          À§         ¾Æ·¡ */
  margin: 10px 70px 50px 0px;
  padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover, #btn6:hover, #btn7:hover, #btn8:hover, #btn9:hover, #btn10:hover, #btn11:hover, #addSurveyBtn:hover, #startBtn:hover, #backBtn:hover, #localBtn:hover, #fileBtn:hover, #title:hover {
  cursor: pointer;
  background-color: #57636e;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus, #btn4:focus, #btn5:focus, #btn6:focus, #btn7:focus, #btn8:focus, #btn9:focus, #btn10:focus, #btn11:focus, #addSurveyBtn:focus, #startBtn:focus, #backBtn:focus, #title:focus {
  outline: 0;
}
