@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
* {
	font-family : 'Nanum Gothic';
}
h1 {
	font-family : 'Hanna';
}

#btn0, #btn1, #btn2, #btn3, #btn4, #btn5, #addSurveyBtn{
  background-color: #778897;
  width: 200px;
  height: 150px;
  font-size: 30px;
  color: #fff;
  border: 1px solid #1d3c6a;
  /* border-radius: 5px; */
        /* ÁÂ           ¿ì          À§         ¾Æ·¡ */
  margin: 10px 70px 50px 0px;
  padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover, #addSurveyBtn:hover, #startBtn:hover, #localBtn:hover, #fileBtn:hover {
  cursor: pointer;
  background-color: #57636e;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus, #btn4:focus, #btn5:focus, #addSurveyBtn:focus, #startBtn:focus, #backBtn:focus {
  outline: 0;
}
